@keyframes textIn{
	0%{
		transform: translateY(100%);
	}
	100%{
		transform: translateY(0%);
	}
}
@keyframes textOut{
	0%{
		transform: translateY(0%);
	}
	100%{
		transform: translateY(-100%);

	}
}
@keyframes infiniteScroll {
	from {transform: translateX(0)}
	to {transform: translateX(-50%)}
}