/* ####################################################### FONT-FACE */

@font-face {
	font-family: 'Montserratarm-Black';
	src: url('../../fonts/Montserratarm/Montserratarm-Black.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-Bold';
	src: url('../../fonts/Montserratarm/Montserratarm-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-ExtraBold';
	src: url('../../fonts/Montserratarm/Montserratarm-ExtraBold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-ExtraLight';
	src: url('../../fonts/Montserratarm/Montserratarm-ExtraLight.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-Light';
	src: url('../../fonts/Montserratarm/Montserratarm-Light.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-Medium';
	src: url('../../fonts/Montserratarm/Montserratarm-Medium.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-Regular';
	src: url('../../fonts/Montserratarm/Montserratarm-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-SemiBold';
	src: url('../../fonts/Montserratarm/Montserratarm-SemiBold.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserratarm-Thin';
	src: url('../../fonts/Montserratarm/Montserratarm-Thin.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}