.home{
	.hero {
		height: 980px;
		background-image: url('../images/home-hero-bg.svg');
		position: relative;
		
		.main-content {
			margin-top: 270px;
			max-width: 880px;
			min-width: 740px;
			height: max-content;
			position: relative;
			h1 {
				font-family: 'Montserratarm-Bold', sans-serif;
				font-size: 64px;
				line-height: 1.2;
				letter-spacing: 6px;
				color: white;
				margin-bottom: 13px;
				text-align: center;
	
				&.animate-text{
					span{
						background: var(--linear-gradient-primary);
						background-clip: text;
						-webkit-background-clip: text;
						  -webkit-text-fill-color: transparent;
					}
				}
			}
			.domain{
				position: absolute;
				cursor: pointer;
				&:nth-of-type(1){
					top: -90px;
					left: -220px;
				}
				&:nth-of-type(2){
					top: -90px;
					right: -210px;
				}
				&:nth-of-type(3){
					top: 45px;
					right: -320px;
				}
				&:nth-of-type(4){
					top: 175px;
					left: -335px;
				}
				&:nth-of-type(5){
					top: 185px;
					right: -340px;
				}
				&:nth-of-type(6){
					top: 360px;
					left: -75px;
				}
				&:nth-of-type(7){
					top: 360px;
					right: -60px;
				}
				&::before {
					content: "";
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100%;
					border-radius: 68px;
					background: rgba(80, 87, 100, 1);
					z-index: 1;
					transition: all .3s ease-in-out;
				}
				.domain-container{
					position: relative;
					display: block;
					padding: 20px 48px;
					border-radius: 68px;
					&::before,
					&::after {
						border-radius: 68px;
					}
					&:hover {
						p{
							color: transparent;
							background: var(--linear-gradient-primary);
							-webkit-background-clip: text;
							background-clip: text;
						}
					}
				}
				p{
					font-family: 'Montserratarm-SemiBold', sans-serif;
					display: block;
					z-index: 3;
					position: relative;
					color: rgba(80, 87, 100, 1);
					background: linear-gradient(90deg, rgba(80, 87, 100, 1) 0%, rgba(80, 87, 100, 1) 100%);
					-webkit-background-clip: text;
					background-clip: text;
					transition: all .3s ease-in-out;
				}
			}
		}
	}
	
	.courses{
		.title{
			font-family: 'Montserratarm-ExtraLight', sans-serif;
			font-size: 20px;
			line-height: 24px;
			letter-spacing: 3px;
		}
	}

	.academy-advantages{
		margin-top: 200px;
	}

	.testimonials{
		margin-top: 310px;
		.container{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
		.title{
			font-family: 'Montserratarm-Light', sans-serif;
			font-size: 40px;
			line-height: 59px;
			color: #fff;
			text-align: center;
			margin-bottom: 100px;
			strong{
				font-family: 'Montserratarm-SemiBold', sans-serif;
			}
			span{
				display: block;
				font-family: 'Montserratarm-Regular', sans-serif;
			}
		}
		.testimonials-wrapper{
			margin-top: 130px;
    		width: 100%;
			
			.testimonial{
				width: 628px;
				height: max-content;
				border: 1px solid rgba(69, 69, 69, 1);
				border-radius: 80px;
				margin-left: 33px;
				margin-right: 33px;
				padding: 40px 40px 60px;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				align-items: center;
				color: #fff;
				background-color: rgba(14, 14, 14, 1);
				position: relative;
				&::before,
				&::after {
					border-radius: 80px;
				}
				img{
					width: 80px;
					height: 80px;
					margin-right: 10px;
					z-index: 3;
				}
				.testimonial__infos{
					margin-right: auto;
					z-index: 3;
					span{
						display: block;
					}
					.name{
						font-family: 'Montserratarm-Regular', sans-serif;
						font-size: 20px;
						line-height: 24px;
					}
					.job{
						font-family: 'Montserratarm-Light', sans-serif;
					}
				}
				.testimonial__social{
					z-index: 3;
					display: flex;
					justify-content: center;
					align-items: center;
					width: 56px;
					height: 56px;
					border-radius: 100%;
					border: 1px solid rgba(80, 87, 100, 1);
					font-family: 'Montserratarm-Medium', sans-serif;
					font-size: 20px;
					line-height: 30px;
					margin-left: 16px;
				}
				.testimonial__content{
					margin-top: 26px;
					font-family: 'Montserratarm-Light', sans-serif;
					font-size: 16px;
					line-height: 25px;
					z-index: 3;
				}
			}

			.flickity-page-dots{
				display: flex;
				justify-content: center;
				align-items: center;
				bottom: -70px;
				.dot{
					background-color: rgba(80, 87, 100, 1);
					width: 8px;
					height: 8px;
					margin: 0 4px;
					&.is-selected{
						background-color: #fff;
						width: 11px;
						height: 11px;
					}
				}
			}
		}
	}

	.about-us{
		margin-top: 160px;
		.container{
			display: flex;
			align-items: center;
		}
		.about-us__video{
			width: 50%;
			position: relative;
			img{
				width: 100%;
				height: auto;
				aspect-ratio: 1/1;
				border-radius: 60px;
				&.play-icon{
					width: auto;
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translateX(-50%) translateY(-50%);
					cursor: pointer;
				}
			}
		}
		.about-us__content{
			width: 45%;
			height: max-content;
			padding-left: 106px;
			color: #fff;
			h1{
				font-family: 'Montserratarm-Medium', sans-serif;
				font-size: 64px;
				line-height: 73px;
			}
			p{
				font-family: 'Montserratarm-Regular', sans-serif;
				font-size: 20px;
				line-height: 40px;
				margin-top: 37px;
			}
			a{
				display: block;
				width: max-content;
				margin-top: 32px;
				padding: 21px 46px;
				font-family: 'Montserratarm-SemiBold', sans-serif;
				color: rgba(253, 253, 253, 1);
				border: 1px solid rgba(253, 253, 253, 1);
				border-radius: 68px;
			}
		}
	}

	.partners{
		margin-top: 123px;
	}
}